/* #region MAIN */

@font-face {
  font-family: "National Park";
  src: url("/assets/fonts/NP-VariableVF.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/NP-VariableVF.woff2") format("woff2-variations");
}

body {
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  --font-size: 1rem;
  font-size: var(--font-size);
  font-family: "National Park";

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

canvas {
  display: block;
}

.grabbing {
  cursor: grabbing;
}

.moving {
  cursor: move;
}

.crosshair {
  cursor: crosshair;
}

#site {
  flex: 1;
  display: flex;
  user-select: none;
  overflow: hidden;
}

#view-pane {
  display: flex;
}

.gutter {
  background-color: var(--base1);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

/* #endregion */

/* #region TASKBAR */
#taskbar {
  display: flex;
  background-color: var(--base1);
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  z-index: 5;
  cursor: default;
}

.site-title {
  font-size: 1.2em;
  margin-left: 0.3em;
  cursor: default;
  color: var(--text-inactive);
}

.button-group {
  display: flex;
}

.button-group > button {
  color: var(--text-inactive);
}

.button-group button.open {
  color: hsl(var(--accH), var(--accS), 80%);
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
}

#settings-modal {
  max-width: 700px;
}

/* #endregion */

/* #region EXAMPLE LIBRARY */

.library-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #endregion */

/* #region CHART PANE */
#chart-pane {
  display: flex;
  position: relative;
  overflow: hidden;
}

.vector-overlay {
  pointer-events: none;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.desktop {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .cell-highlight {
  fill: transparent;
  pointer-events: none;
  stroke: #ffffff;
} */

#svg-layer.blockMode {
  cursor: crosshair;
}

.bottom-bars-container {
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: var(--base1);
  color: var(--text-inactive);
}

.chart-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 0.4em;
  padding: 0.2em 0 0.2em 0.4em;
  font-size: 0.9em;
}

.h-group {
  display: flex;
  align-items: center;
  gap: 0.4em;
}

.mode-toggle {
  width: 8em;
  justify-self: flex-start;
}

.pointer-pos {
  font-family: monospace;
  font-size: 0.8em;
  width: 9ch;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.chart-scale {
  font-family: monospace;
  font-size: 0.9em;
  display: flex;
  border: 1px solid var(--base4);
  background-color: var(--base4);
  gap: 1px;
}

.chart-scale .input {
  z-index: 1;
  font-size: 1em;
  border: none;
  text-align: end;
  width: 3em;
  border-radius: 0;
}

.spinners {
  display: flex;
  background-color: var(--base3);
  flex-direction: column;
}

.spinners button {
  flex: 1;
  border: 0;
  outline: 0;
  padding: 0;
  border-radius: 0;
  background-color: var(--base2);
  width: 1em;
  line-height: 0;
  color: var(--text-inactive);
}

.spinners button:hover {
  background-color: var(--base4);
  color: var(--text-highlight);
}

/* #endregion */

/* #region MODE TOOLBARS */

.mode-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.2em 0 0.2em 0.4em;
  justify-content: space-between;
  font-size: 0.9em;
}

.toolbar-message {
  font-style: italic;
}

.area-size {
  font-family: monospace;
}

.mode-toolbar {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.4em;
  padding: 0.2em 0 0.2em 0.4em;
  justify-content: space-between;
}

.mode-toolbar .dropdown {
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.delete.btn {
  color: var(--text-inactive);
  display: flex;
  gap: 0.4em;
}

.delete.btn:hover {
  color: rgb(165, 39, 39);
  background-color: transparent;
}

/* #endregion */

/* #region PICKERS */

.picker-container {
  display: flex;
  align-self: flex-end;
  align-items: flex-start;
  opacity: 0;
  margin: 0.4em;
  z-index: 10;
  pointer-events: none;
}

.picker-container.shown {
  opacity: 1;
}

.tool-picker {
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 0.3em 0 0.3em 0.3em;
  background-color: var(--base1);
  border-radius: 0.5em 0 0 0.5em;
  pointer-events: all;
  z-index: 1;
  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.block-size {
  font-family: monospace;
}

.tool-picker button {
  width: 40px;
  height: 40px;
  border-radius: 0.4em;
  border: 1px solid black;
}

.tool-picker .btn.current {
  background-color: var(--accent);
  color: var(--base2);
}

.palette .close-picker {
  background-color: transparent;
  border: none;
}

.palette {
  --color: var(--base0);
  display: flex;
  flex-direction: column;
  border-radius: 0 0.5em 0.5em 0.5em;
  background-color: var(--base1);
  overflow: auto;
  padding: 0.3em;
  gap: 0.3em;
  pointer-events: all;

  box-shadow: 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.palette button {
  flex: 1 0 40px;
  width: 40px;
  background-color: var(--color);
  padding: 0;
  border: 1px solid black;
  border-radius: 0.4em;
  overflow: hidden;
}

.palette button.selected {
  outline: 2px solid white;
  z-index: 2;
}

/* #endregion */

/* #region SIM PANE */
#sim-pane {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#sim-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.sim-action-bar {
  position: absolute;
  z-index: 10;
  display: flex;
  gap: 0.3em;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.5);
  border-radius: 0.5em;
  margin: 0.5em;
  padding: 0.4em;
  align-self: center;
  background-color: var(--base1);
}

.sim-action-bar button {
  display: flex;
  gap: 0.4em;
  padding: 0.4em;
}

.sim-toolbar {
  background-color: var(--base1);
  color: var(--text-inactive);
  display: flex;
  justify-content: space-between;
  gap: 0.4em;
  padding: 0.2em 0.4em 0.2em 0;
  font-size: 0.9em;
}

.panzoom-controls {
  display: flex;
}

.panzoom-controls input[type="range"] {
  width: 5em;
}

.mirrored > canvas {
  transform: scaleX(-1);
}

#canvas-container > canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* #endregion */

/* #region TIME NEEDLE VIEW */

#time-needle-pane {
  display: flex;
  overflow: hidden;
  flex: 1;
}

.time-needle-container {
  display: flex;
  gap: 3px;
}

#timeneedlebitmap {
  height: 100%;
  image-rendering: pixelated;
}

.yarn-assignments {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column-reverse;
  width: 30px;
}

.yarn-cell {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: monospace;
  container-name: yarn;
  color: var(--base0);
  background-color: var(--color);
}

.yarn-cell div {
  flex: 1;
}

.yarn-cell span {
  position: absolute;
}

/* #endregion */

/* #region ANNOTATIONS */

.boundary {
  fill: transparent;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(69, 69, 69);
}

.boundaryMode.allowHover .boundary.inactive:hover {
  stroke: rgb(255, 255, 255);
  stroke-width: 3;
  cursor: pointer;
}

.background-path {
  fill: transparent;
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: rgb(69, 69, 69);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
}

.background-path-hover {
  fill: transparent;
  stroke-width: 8;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: transparent;
}

.pathMode.allowHover .background-path-hover:hover {
  stroke: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px black);
}

.path {
  pointer-events: all;
}

.path.bottom {
  stroke: rgb(255, 255, 255);
  filter: drop-shadow(0px 0px 2px black);
  stroke-width: 4px;
  stroke-dasharray: 10 4;
}

.path.top {
  stroke: transparent;
  stroke-width: 7px;
  stroke-dasharray: 10 4;
  cursor: grab;
}

.path.top:hover {
  stroke: rgb(224, 255, 102);
  filter: drop-shadow(0px 0px 2px black);
}

.point {
  fill: rgb(223, 223, 223);
  stroke: rgb(255, 255, 255);
  r: 6;
  stroke-width: 2px;
  filter: drop-shadow(0px 0px 2px black);
  pointer-events: all;
  cursor: grab;
}

.grabbing .path.top,
.grabbing .point {
  cursor: grabbing;
}

.point:hover {
  stroke: rgb(224, 255, 102);
  fill: rgb(224, 255, 102);
  stroke-width: 3px;
}

.showAnnotations .annotation-container,
.showAnnotations .annotation {
  opacity: 1;
}

.annotation-container {
  opacity: 0;
  stroke-width: 2px;
  filter: drop-shadow(0px 0px 2px black);
}

.annotation {
  opacity: 0;
  font-family: monospace;
  font-size: small;
  font-weight: bold;
}

/* #endregion */

/* #region STITCH SELECT */

.stitch-select-box {
  position: absolute;
  display: flex;
  justify-content: center;
}

.stitch-select-box > svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.stitch-select {
  stroke: white;
  stroke-width: 8px;
  stroke-dasharray: 10 4;
  fill: #ffffff49;
}

.select-tools {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  height: 100%;
}

.add-block {
  z-index: 1;
  padding: 5px;
  line-height: 1;
  cursor: pointer;
  white-space: nowrap;
}

/* #endregion */

/* #region BLOCKS */

.block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
}

.block-inset-shadow {
  box-shadow: 0 0 5px 0 black inset;
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.block:hover .hover-overlay {
  opacity: 1;
}

.hover-overlay {
  opacity: 0;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  outline: 4px solid white;
  border: 3px solid black;
  background-color: #ffffff3c;
}

.move-block {
  cursor: grab;
  position: absolute;
  right: 100%;
  top: 100%;
  line-height: 0;
  font-size: 0.9em;
  padding: 0.3em;
  border: 1px solid black;
  border-radius: 0.5em;
}

.grabbing .dragger,
.grabbing .move-block {
  cursor: grabbing;
}

.dragger {
  position: absolute;
  line-height: 0;
  cursor: grab;
  display: inline-flex;
  align-items: center;
  border: 1px solid black;
  justify-content: center;
}

.dragger.up {
  bottom: 100%;
  width: 2em;
  border-radius: 8px 8px 0 0;
}

.dragger.down {
  top: 100%;
  width: 2em;
  border-radius: 0 0 8px 8px;
}

.dragger.left {
  right: 100%;
  border-radius: 8px 0 0 8px;
  height: 2em;
}

.dragger.right {
  left: 100%;
  border-radius: 0 8px 8px 0;
  height: 2em;
}

/* #endregion */

/* #region YARN PANEL */
.yarn-panel {
  display: flex;
  flex-direction: column;
  z-index: 10;
  padding: 0 1px;
  background-color: var(--base1);
  box-sizing: content-box;
  justify-content: end;
}

.yarn-row-assignments {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column-reverse;
  z-index: 0;
}

.yarn-row {
  position: relative;
  flex: 1;
  display: flex;
}

.yarn-row:hover::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #ffffff49;
  pointer-events: none;
}

.yarn-cell {
  flex: 1;
}

.yarn-panel.collapsed .yarn-cell {
  width: 8px;

  max-width: 8px;
}

.yarn-panel.expanded .yarn-cell {
  width: 25px;
  max-width: 25px;
}

.yarn-cell.active {
  background-color: var(--color);
}

.yarn-cell.inactive {
  background-color: #343434;
}

.manage-yarns {
  background-color: var(--base1);
  z-index: 2;
  position: relative;
}

.yarn-btns {
  background-color: var(--base1);
  position: absolute;
  bottom: 100%;
  min-width: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  color: var(--text-inactive);
}

.yarn-btns div {
  padding: 4px;
  width: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.yarn-btns div:hover {
  color: var(--text);
}

.available-yarns {
  display: flex;
  gap: 1px;
}

.edit-yarn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  padding-top: 8px;
  gap: 8px;
}
.yarn-panel.collapsed .edit-yarn {
  cursor: default;
  pointer-events: none;
}

.yarn-panel.expanded .edit-yarn {
  cursor: pointer;
  pointer-events: all;
}

.delete-yarn,
.edit-yarn-icon {
  visibility: hidden;
  color: var(--base0);
}

.yarn-panel.expanded .edit-yarn:hover .delete-yarn,
.yarn-panel.expanded .edit-yarn-icon {
  visibility: visible;
}

.delete-yarn {
  background-color: var(--base0);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

.delete-yarn button {
  padding: 0;
  border: 0;
  outline: 0;
  color: var(--text-inactive);

  background-color: transparent;
}

.delete-yarn button:hover {
  color: red;
}

/* #endregion */
