@font-face {
  font-family: "National Park";
  src: url("/assets/fonts/NP-VariableVF.woff2")
      format("woff2 supports variations"),
    url("/assets/fonts/NP-VariableVF.woff2") format("woff2-variations");
}

body {
  --font-size: 1rem;
  width: 100vw;
  width: calc(var(--vw, 1vw) * 100);
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);

  font-size: var(--font-size);

  font-family: "National Park";
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#site {
  position: relative;
  flex: 1;
  display: flex;
  user-select: none;
  z-index: 1;
  overflow: hidden;
}

/**********************************

TASKBAR

**********************************/

#taskbar {
  display: flex;
  background-color: var(--base1);
  justify-content: space-between;
  align-items: center;
  padding: 0.3em;
  z-index: 5;
  cursor: default;
}

#taskbar button {
  cursor: pointer;
}

.site-title {
  font-size: 1.2em;
  margin-left: 0.3em;
  cursor: default;
}

.taskbar-buttons > button {
  color: var(--text-inactive);
}

.taskbar-buttons button.open {
  color: hsl(var(--accH), var(--accS), 80%);
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
}

/**********************************

SIM PANE

**********************************/

#sim-pane {
  display: flex;
  flex-direction: column;
}

#sim-container {
  position: relative;
  flex: 1;
  overflow: hidden;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

.top {
  z-index: 5;
}

.mid {
  z-index: 2;
}

.bottom {
  z-index: 0;
  filter: brightness(0.7);
}

.mirrored > canvas {
  transform: scaleX(-1);
}

.sim-transform-group.right-side {
  display: flex;
  flex-direction: column;
}

.sim-transform-group.wrong-side {
  display: flex;
  flex-direction: column-reverse;
}

#back,
#mid,
#front {
  position: absolute;
  top: 0;
  left: 0;
}

/**********************************

EDIT PANE

**********************************/

#chart-pane {
  display: flex;
  flex-direction: column;
}

#chart-layout {
  position: relative;
  flex: 1;
  display: flex;
  background-color: var(--base2);
  overflow: hidden;
}

#desktop-container {
  flex: 1;
  display: flex;
  overflow: hidden;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
}

#desktop {
  position: relative;
  box-shadow: inset 0 0 6px 0px rgba(0, 0, 0, 0.5);
  display: flex;
  overflow: hidden;
  flex: 1;
  align-items: flex-start;
}

canvas {
  display: block;
}

#canvas-transform-group {
  display: block;
  outline: 1px solid black;
}

#symbol-canvas {
  position: relative;
}

.grid-canvas,
.outline-canvas,
#yarn-color-canvas {
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
}

/**********************************

REPEAT CANVAS UI

**********************************/
#repeat-container {
  position: absolute;
  left: 0;
  top: 0;
}

.repeat-canvas-container {
  position: absolute;
  display: flex;
  justify-content: center;
}

.repeat-bounds {
  position: absolute;
  z-index: 2;
  bottom: 0;
  left: 0;
  outline: 2px solid white;
  outline-offset: -2px;
  border: 4px solid black;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.repeat-area-dragger {
  position: absolute;
  border: 0;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1px 0;
  pointer-events: all;
}

.repeat-area-dragger > i {
  pointer-events: none;
}

.repeat-area-dragger.y-axis {
  bottom: calc(100% + 4px);
  border-radius: 12px 12px 0 0;
  padding: 0.3em 0.7em 0.2em 0.7em;
}

.repeat-area-dragger.x-axis {
  left: calc(100% + 4px);
  border-radius: 0 12px 12px 0;
  padding: 0.7em 0.3em 0.7em 0.2em;
}

.repeat-canvas {
  position: relative;
  display: block;
  outline: 1px solid black;
  outline-offset: -1px;
  z-index: 1;
}

.repeat-ui {
  position: absolute;
  background-color: var(--base2);
  box-shadow: 0 0 5px 0 black;
  border-radius: 8px;
  display: flex;
  padding: 5px;
  gap: 5px;
  z-index: 2;
}

.repeat-controls {
  bottom: calc(100% + 8px);
  right: 0;
}

.move-repeat {
  cursor: move;
}

.delete-repeat {
  position: absolute;
  z-index: 10;
  top: 100%;
}

.resize-repeat {
  cursor: move;
  bottom: 100%;
  left: 100%;
  position: absolute;
}

.resize-repeat > i {
  pointer-events: none;
}

.repeat-ui .btn.solid {
  aspect-ratio: 1;
}

.resize-repeat {
  cursor: unset;
}

/**********************************

TOOL PICKER

**********************************/

.tool-picker {
  top: 8px;
  right: 8px;
  position: absolute;
  display: flex;
  gap: 0.4em;
  padding: 0.4em;
  border-radius: 12px;
  box-shadow: 0 0 4px 0 black;
  background-color: var(--base1);
  z-index: 10;
  font-size: larger;
  align-items: center;
}

.tool-picker .btn.current {
  background-color: var(--accent);
  color: var(--base2);
}

/**********************************

YARN SEQUENCE

**********************************/

#yarn-sequence {
  position: absolute;
  right: calc(100% + 10px);
  bottom: 0;
  display: flex;
  flex-direction: column;
  z-index: 100;
}

#yarn-sequence > button {
  width: 100%;
  position: absolute;
  bottom: 100%;
  border-radius: 8px 8px 0 0;
  color: var(--text-inactive);
  overflow: hidden;
  padding: 0;
}

#yarn-sequence > canvas {
  outline: 1px solid black;
}

/**********************************

LEFT BAR

**********************************/

#left-bar {
  z-index: 3;
  background-color: var(--base1);
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 0 0.6em;
  overflow-y: auto;
}

.btn.add-repeat {
  align-self: stretch;
}

/**********************************

SYMBOL PICKER

**********************************/

#symbol-picker {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

#symbol-picker > .btn.img {
  align-self: stretch;
  justify-content: space-between;
  border-radius: 8px;
  overflow: hidden;
}

#symbol-picker > .btn.img div {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  display: flex;
  align-items: center;
  line-height: 0;
  flex: 1;
}

.btn.img.current {
  outline: 1px solid white;
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
  color: var(--text-highlight);
}

.symbol-preview {
  width: 50px;
  height: 50px;
  display: block;
  background-color: #fff;
  image-rendering: pixelated;
}

/**********************************

YARN PICKER

**********************************/

#yarn-picker {
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.btn.color-select {
  align-self: auto;
  flex: 0 0 50px;
  padding: 0;
  border-radius: 8px;
  border: 1px solid black;
  overflow: hidden;
  justify-content: space-between;
}

.color-preview {
  aspect-ratio: 1;
  height: 100%;
  position: relative;
  background: var(--current);
}

.color-label {
  font-size: larger;
  font-weight: 900;
  flex: 1;
  line-height: 0;
}

#yarn-picker .btn.selected {
  outline: 1px solid white;
  color: var(--text-highlight);
  background-color: hsla(var(--accH), var(--accS), var(--accL), 0.3);
}

.edit-color-btn {
  border: 0;
  outline: 0;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  height: 100%;
  width: 100%;
}

.edit-color-icon {
  color: var(--text-highlight);

  position: absolute;
  line-height: 1;
  top: 5px;
  left: 5px;
}

.edit-color-icon > i {
  line-height: 0;
  text-shadow: 0px 0px 2px black;
}

.delete-color-button {
  position: absolute;
  display: flex;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: #343434;
  font-size: x-large;
  line-height: 1;

  bottom: 2px;
  right: 2px;

  cursor: pointer;
}

.delete-color-button:hover {
  color: red;
  text-shadow: 0px 0px 3px black;
}

/**********************************

BOTTOM TOOLBAR

**********************************/

#chart-size-controls {
  display: flex;
  align-items: center;
  gap: 0.4em;
  font-size: 1em;
}

/**********************************

PAN-ZOOM CONTROLS

**********************************/

.panzoom-controls {
  position: absolute;
  align-items: center;
  display: flex;
  gap: 0.3em;
  right: 10px;
  bottom: 10px;
  background-color: var(--base1);
  border-radius: 10px;
  padding: 0.4em;
  box-shadow: 0 0 4px 0 black;
}

.panzoom-controls button {
  align-self: unset;
  cursor: pointer;
}

.panzoom-controls input[type="range"] {
  width: 5em;
}

/**********************************

LIBRARY MODAL

**********************************/

#library-modal {
  max-width: 700px;
}

.library-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/**********************************

SETTINGS MODAL

**********************************/

#settings-modal {
  max-width: 700px;
}

#background-color-edit {
  width: 100%;
  height: 30px;
  font-size: 0.9em;
  color: black;
}

/**********************************

REPEAT LIBRARY

**********************************/

#repeat-library-button {
  font-size: inherit;
  aspect-ratio: 1;
}

#repeat-library {
  /* position: absolute;
  box-shadow: var(--modal-shadow);
  right: 10px;
  bottom: 10px;
  background-color: var(--base1);
  display: flex; */
  flex-direction: column;
  /* border-radius: 10px; */
  overflow: hidden;
}

#repeat-library > h2 {
  font-size: 1.2em;
  padding: 0.4em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

#repeat-library-content {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-auto-rows: 40px;
  grid-row-gap: 1px;
  overflow-y: auto;
  height: 100%;
  transition: 150ms;
}

#repeat-library-content.open {
  height: 400px;
  min-width: 150px;
}

#repeat-library-content.closed {
  height: 0px;
  width: 0px;
}

.repeat-title {
  font-weight: 600;
  text-align: end;
  display: flex;
  background-color: var(--modal-background);
  align-items: center;
  justify-content: end;
  padding: 0 5px;
}

.repeat-size {
  font-family: monospace;
  display: flex;
  background-color: var(--modal-background);
  align-items: center;
  justify-content: end;
  padding: 0 8px;
}

.repeat-library-canvas {
  display: flex;
  justify-content: center;
  background-color: var(--modal-background);
}

.repeat-library-canvas > canvas {
  height: 100%;
  image-rendering: pixelated;
  outline: 1px solid black;
  cursor: grab;
}

/**********************************

SPLIT JS STYLES

**********************************/
.gutter {
  background-color: var(--base1);
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

.gutter.gutter-vertical {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=");
  cursor: row-resize;
}

/**********************************

RESIZE DRAGGER

**********************************/

.grabbing {
  cursor: grabbing !important;
}

.grab {
  cursor: grab !important;
}

.punchcard-preview {
  height: 15rem;
  position: relative;
}

#punchcard {
  height: 100%;
  background-color: #fff;
}
