*,
*:before,
*:after {
  box-sizing: border-box;
}

:root {
  --dark0: #1b1b1b;
  --dark1: #2b2b2b;
  --dark2: #4b4b4b;
  --light0: #dadada;
  --light4: #b5b5b5;
  --accent: #644e64;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--dark0);
  color: var(--light0);
  display: flex;
}

.workspace {
  flex: 1;
  overflow: hidden;
  background-color: var(--dark2);
  z-index: 0;
  position: relative;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  flex-grow: 1;
  overflow: hidden;
  background-color: var(--dark2);
  z-index: 0;
  position: relative;
}

#sidebar {
  z-index: 10;
  display: flex;
  flex-direction: column;
  width: 4rem;
  background-color: black;
  justify-content: center;
  gap: 2px;
  user-select: none;
  padding: 2px;
}

.preview-container {
  /* display: flex; */
  /* flex-grow: 1; */
  height: inherit;
  justify-content: center;
  overflow: hidden;
  /* width: 100%; */
  cursor: grab;
}

.preview-canvas {
  width: 100%;
  /* height: 100%; */
}

#container {
  display: flex;
  flex: 1;
  border: 2px solid black;
}

.pane-view {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
}

.pane-view > span {
  z-index: inherit;
}

.pane-view::before {
  content: "";
  z-index: 0;
  filter: brightness(0.4);
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--color);
}

.empty {
  margin: auto;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  max-width: 100px;
  max-height: 100px;
  height: 100%;
  width: 100%;
  border: none;
  cursor: pointer;
  z-index: 1;
}
input[type="color"]::-webkit-color-swatch {
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 5px 0 black;
}
input[type="color"]::-moz-color-swatch {
  border-radius: 1rem;
  border: 0;
  box-shadow: 0 0 5px 0 black;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixelated {
  image-rendering: pixelated;
  background: var(--transparency);
  display: block;
  flex: 1;
}

.simcontainer {
  height: 100%;
}

svg {
  display: block;
}

.sim-controls {
  height: 3rem;
  display: flex;
}
.flex-buttons {
  display: flex;
  height: 100%;
  gap: 0.3rem;
  flex-wrap: wrap;
}

button {
  border: none;
  background-color: var(--dark2);
  color: var(--ui-text);
  box-shadow: 0 0 2px black;
  cursor: pointer;
  transition: 100ms;
  border-radius: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button > i {
  display: inline-block;
  line-height: 0 !important;
}

button > span {
  line-height: 0 !important;
}

button:hover {
  box-shadow: 0 0 8px black;
  background-color: var(--accent);
}

button:active {
  background-color: var(--dark2);
}

.flex-buttons button {
  width: 3.5rem;
  height: 2rem;
}
