html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2c2c;
  color: #fafafa;
  height: 100vh;
  display: flex;
}

#center {
  display: grid;
  flex: 1 1 0;
  place-items: stretch;
  grid-template-areas:
    "colors vgutter preview"
    "controls controls hgutter"
    "controls controls needles";
  grid-template-columns: min-content min-content 1fr;
  grid-template-rows: 1fr min-content min-content;
}

#center > * {
  outline: 1px solid white;
}

#color-change-editor-container {
  grid-area: colors;
}

#preview-gutter-vertical {
  grid-area: vgutter;
  width: 25px;
}

#preview-container {
  grid-area: preview;
}

#preview-controls {
  grid-area: controls;
}

#preview-gutter-horizontal {
  grid-area: hgutter;
  height: 25px;
}

#needle-work-editor-container {
  grid-area: needles;
}
