html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2d2c2c;
  color: #fafafa;
  height: 100vh;
  display: flex;
}

#left {
  flex: 1 1 0;
  display: flex;
  flex-direction: column;
}

#right {
  flex: 1;
  display: flex;
  flex-direction: column;
}

#preview-container {
  flex: 1 1 0;
  display: flex;
}

#yarn {
  /* flex: 1 1 min-content; */
}

#preview {
  flex: 1 1 0;
}

.bimp-desktop {
  outline: 1px solid black;
  background-color: #3f3f3f;
  grid-area: c;
  display: flex;
}
