html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Split.js */

.split {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
  cursor: col-resize;
}

/* Pattern editor */

#pattern-editor-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding: 6px;
}

.toolbar {
  display: flex;
}

.chart-size-controls {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* Stitch select */

.stitch-select-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.stitch-select {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
  border-radius: 4px;
  cursor: pointer;
}

.stitch-select:hover {
  background-color: #eee;
}

.stitch-select.selected {
  background-color: #bbb;
}

/* Chart editor */

.chart-container {
  display: flex;
  overflow: auto;
  padding: 1px;
}

.chart {
  display: flex;
  flex-direction: column-reverse;
  line-height: 0;
  user-select: none;
  outline: 1px solid black;
}

.chart .row:nth-child(n + 2) {
  border-bottom: 1px solid black;
}

.row {
  display: flex;
  flex: 0 1;
}

.row *:nth-child(n + 2) {
  border-left: 1px solid black;
}

.stitch {
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.stitch:hover {
  outline: 1px solid white;
  outline-offset: -2px;
}

.row-label {
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.row-label.left {
  left: 0;
}

.row-label.right {
  right: 0;
}

.row-label.white {
  background-color: white;
}
