.simcontainer {
  display: flex;
  height: 100%;
}

.sim-controls {
  height: 3rem;
  display: flex;
}

.sim-svg {
  display: block;
  overflow: scroll;
}

.yarn-changes {
  display: flex;
  flex-direction: column;
}
