/* TOOLBAR */

.toolbar {
  overflow: hidden;
  background-color: var(--dark1);
  z-index: 10;
  padding: 0.3rem;
  color: var(--ui-text);
  box-shadow: 0 0 2px black;
  display: flex;
  justify-content: space-around;
  flex-shrink: 0;
}

.tool-group {
  display: flex;
  gap: 0.3rem;
}

.tool-select {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 0.3rem;
}

.tool-select.selected {
  background-color: var(--accent);
  box-shadow: 0 0 2px black;
}

.tool-select.not-selected:hover {
  background-color: var(--dark2);
  box-shadow: 0 0 2px black;
}

.tool-select i {
  margin: auto;
}

/* CANVAS */

canvas {
  image-rendering: pixelated;
}

/* DIMENSIONS */

.size {
  display: flex;
  gap: 5px;
  margin-right: 2rem;
  align-items: center;
  justify-content: space-around;
}

.size input[type="text"] {
  width: 2rem;
  background-color: inherit;
  outline: none;
  border: none;
  padding: none;
  text-align: center;
  color: var(--ui-text);
  display: flex;
  align-items: center;
  font-family: monospace;
}

.input-spinner {
  background-color: var(--dark2);
  display: flex;
  align-items: center;
  height: 1rem;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px black;
}

.input-spinner:hover {
  background-color: var(--accent);
}

.input-spinner i {
  margin: auto;
}
