.yarn-library {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.yarn-library > div {
  /* padding: 3px; */
}

.color-col {
  display: flex;
}

.color-col > input {
  /* height: 15px; */
  padding: 0;
}
